@page "/"
@using AdminPanel.Services
@using Tuning.Library.UserDetail
@inject UserService UserService
@inject NavigationManager Navigation

<h3>User List</h3>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>UserName</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.UserName</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => ViewUserDetails(user.Id)">View Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsersAsync();
    }

    private void ViewUserDetails(string userId)
    {
        Navigation.NavigateTo($"/users/{userId}");
    }
}
